{% extends 'adminbase.html.twig' %}
{% block body %}
    <h1>hello admin</h1>
    <a href="/admin/get/productslist">Show product list</a>
    <a href="/admin/product/add">Add new product</a>
    <a href="/user/logout">Exit</a>
    <a href=""></a>
    <a href=""></a>
    <a href=""></a>
{% endblock %}