{% extends 'base.html.twig' %}
{% block body %}
    <form action="{{ path('admin_send_mail') }}" method="post">
        <input type="text" name="from"><br>
        <input type="file" name="file"><br>
        <button type="submit" name="submit">Send</button>
    </form>
{% endblock %}