{% block body %}
<style>
    body {background-color: #aacd4e;}
    h1 {color: #222222;}
    img {width: 100%}
</style>
<div class="container">
    <h>Hello {{ name }}</h>
    <h1>Mega Sail</h1>
    <div>
        <img src="/public/uploads/2bb1248f1e23d31de7e27231211f372c.jpeg" alt="">
        <small>T-shirts</small>
    </div>

</div>
{% endblock %}