{% extends 'base.html.twig' %}
{% block body %}

        {% block greeeting %}
            <h1>Welcome {{ name }}</h1>
            <h2>Your password {{ password }}</h2>
            <h2>Your email {{ email }}</h2>
        {% endblock %}
        <h3>You can change your data</h3>
        <button class="btn btn-info">
            <a href="/user/edit/{{ id }}">Edit</a>
        </button>
 {% endblock %}